  <div class="category-menu">
    <ul>
      <form method="get" action="/tasks/new">
        <button class="new-task-button">Add new Task!</button>
      </form>
      <li> <a href="/users/<%= session[:user_id] %>">All Tasks </a></li>
      <% @user.lists.each do |list| %>
      <li> <a href="/lists/<%= list.id %>"><%= list.title %></a></li>
      <% end %>
    </ul>
  </div>




<div class="item-list">
 <h2>Hello <%= @user.username %>! Here is your todo list:</h2>

  <% @tasks.each do |task| %>
    <%= erb :'tasks/_task_item', locals: {task: task} %>
  <% end %>

</div>

